<p id="stats">
    <b>Total items in collection:</b> {{ total }},
    <b>Ignored/Complete:</b> {{ igcom }},
    <b>Incomplete:</b> {{ incomplete }},
    <b>Committed:</b> {{ committed }},
    <b>Outcome:</b> {{ outcome }}
</p>
